{% extends "base.html" %}

{% block title %}Print image file{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col-md-12">

		<h1>Send picture</h1>

		
		
		<p>&nbsp;</p>
		<p>
			<strong>Preview</strong>
		</p>
		<div class="thumbnail" style="width: 300px;">
			<div id="preview_pane" style="width: 100%; border: 1px solid #ccc; overflow: hidden;"></div>
		</div>

	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
        $("#preview").on('click', function() {
        $.ajax({
          url: "{{ url_for('printer_print.preview',
                          user_id=current_user.id,
                          username=current_user.username,
                          printer_id=printer.id) }}",
          data: $("#message").val(),
	  method: "POST",
	  contentType: "text/plain",
          success: function(response) {
          $("#preview_pane").html(response);
            console.log(response);
          }
	})
	})
</script>
{% endblock scripts%}
