{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
        <!-- Loading Bootstrap -->
        <link href="/asset/flatui/bootstrap/css/bootstrap.css" rel="stylesheet">
        <link href="/asset/flatui/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
        <!-- Loading Flat UI -->
        <link href="/asset/flatui/css/flat-ui.css" rel="stylesheet">
        <link href="/asset/css/main.css" rel="stylesheet">
        <link rel="shortcut icon" href="/asset/flatui/images/favicon.ico">
        <link rel="stylesheet" href="//cdn.quilljs.com/0.20.1/quill.snow.css" />
        <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
        <!--[if lt IE 9]>
          <script src="asset/flatui/js/html5shiv.js"></script>
        <![endif]-->
{% endblock %}

{% block title %}Little Printer{% endblock %}

{% block navbar %}
<nav class="navbar navbar-inverse navbar-static-top">
	<div class="container">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="{{ url_for('landing.landing') }}">Little Printer</a>
		</div>
		<div id="navbar" class="navbar-collapse collapse">
			<ul class="nav navbar-nav">
				{% if current_user.is_authenticated() %}
				<li{% if request.script_root + request.path == "/printer/1/printimage" %} class="active"{% endif %}><a href="/printer/1/printimage">Print image</a></li>
				<li{% if request.script_root + request.path == "/printer/1/print" %} class="active"{% endif %}><a href="/printer/1/print">Print html</a></li>
				<li{% if request.url_rule.endpoint == "atkinson.atkinson_page" %} class="active"{% endif %}><a href="{{ url_for('atkinson.atkinson_page') }}">Advanced print</a></li>
				<li{% if request.script_root + request.path == "/printer/1" %} class="active"{% endif %}><a href="/printer/1">Printer overview</a></li>
				{% endif %}
			</ul>
			{% if current_user.is_authenticated() %}
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/twitter/logout">Sign out</a></li>
			</ul>
			{% endif %}
		</div><!--/.nav-collapse -->
	</div>
</nav>
{% endblock %}

{% block content %}
<div class="container" role="main" >
	{% for message in get_flashed_messages() %}
	<div class="alert alert-warning">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		{{ message }}
	</div>
	{% endfor %}

	{% block page_content %}{% endblock %}
</div>
{% endblock %}
