{% extends "base.html" %}

{% block title %}Print image file{% endblock %}

{% block page_content %}
<div class="row">
	<div class="col-md-12">

		<h1>Send picture</h1>

		<form method="POST">
			{{ form.csrf_token }}
			<div class="form-group {% if form.target_printer.errors %}has-error{% endif%}">
				<label>{{ form.photo.label }}</label>
			{% if form.target_printer.errors %}
			<ul>
			{% for error in form.target_printer.errors %}
			<li>{{ error }}</li>
			{% endfor %}
			</ul>
			{% endif %}
			{{ form.photo(class="form-control") }}
		</div>

		<button type="submit" class="btn btn-primary">Print now</button>
	</form>

	</div>
</div>
{% endblock %}

{% block scripts %}
{{ super() }}

<script>
				$('input[type=file]').on('change', prepareUpload);

				// Grab the files and set them to our variable
				function prepareUpload(event)
				{
					var file = this.files[0];

					if ( window.FileReader ) {
					  reader = new FileReader();
					  reader.onloadend = function (e) {
					    showUploadedItem(e.target.result);
					  };
					  reader.readAsDataURL(file);
					}
					if (window.FormData) {
				    formdata = new FormData();
				    formdata.append("image", file);
				  	}
					if (formdata) {
						$.ajax({
					    url: "/upload",
					    type: "POST",
					    data: formdata,
					    processData: false,
					    contentType: false,
					    async: false,
					    success: function (res) {
					      document.getElementById("preview_pane").innerHTML = res;
					    }
					  });
					}
				  files = event.target.files;
				}


			function showUploadedItem (source) {
			  var photo = document.getElementById("photo"),
			      img  = document.createElement("img");
						img.className += " thumbnail";
						img.style.width = "100%";
			    img.src = source;
			    photo.parentNode.insertBefore(img, photo.nextSibling);
			}
</script>
{% endblock scripts%}
